diffusers
transformers
accelerate==0.28.0
scipy
safetensors
pandas
tabulate
addict
matplotlib
tqdm
pybind11
pydantic
zmq
importlib-metadata
munch~=2.5.0
rich~=12.0.1
aiohttp~=3.6.2
cached-property~=1.5.2
setuptools-scm~=6.3.2
asyncclick==8.0.1.3
aiofiles~=0.8.0
aiosqlite~=0.17.0
sysv-ipc~=1.1.0
requests~=2.26.0
timm==0.6.13